<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <title>Pagina de Bienvenida</title>
        <link href="css/miLogin.css" rel="stylesheet" type="text/css"/>
        <link href="css/miLayout.css" rel="stylesheet" type="text/css"/>
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.bundle.js" type="text/javascript"></script>
       
        

    </head>
    <body>
    <style>
    a{
    	margin: 0 0 0 100px;
    }
    
    </style>
      <div class="barra-navegacion">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
            <div class="container-fluid ">
            <a class="navbar-brand" href="#" _msthash="1864226" _msttexthash="381446" style="font-size: 30px;">    IDAT</a>
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categorias/listarTodo}" >Categorias </a>
                    <li class="nav-item">
                         <a class="nav-link " th:href="@{/productos/listarTodo}">Productos     </a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" th:href="@{/verPerfil}">Perfil <i class="fas fa-user-alt"></i>     </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Salir <i class="fas fa-door-open"></i>        </a>
                     </li>
                    <form class="form-inline my-2 my-lg-0">
                    	<input class="form-control mr-sm-2" type="text" placeholder="Buscar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                </ul>
               
            </div>
        </nav>
        </div>
        <section id="seccion1">   
            <div>
              
            </div> 
        </section>
		
        <footer class="mt-auto fixed-bottom p-3">
            <small>Copyright &copy; www.idat.edu.pe</small>
        </footer>
        <script src="https://kit.fontawesome.com/a341c0ef02.js" crossorigin="anonymous"></script>
    </body>
</html>
